@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
}

header {
    position: relative;
}

header .navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

a {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: "Noto Sans", sans-serif !important;
}

form textarea {
    resize: none;
    height: 6rem;
}

nav .navbar-collapse {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: .5rem;
    padding: 1rem 0;
}

nav .navbar-collapse .nav-link {
    color: black;
}

@media screen and (width >= 992px) {
    nav .navbar-collapse {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }

    nav .navbar-collapse .nav-link {
        color: white;
    }
    
}